<h1>Sales#show</h1>
<p>Find me in app/views/sales/show.html.erb</p>

<% if flash[:alert] %>
  <p style="color: red"><%= flash[:alert] %></p>
<% end %>

<% if flash[:notice] %>
  <p style="color: green"><%= flash[:notice] %></p>
<% end %>